@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --cor-primeira: #396b21;
    --cor-segunda: #6B1816;
    --cor-terceira: #5C3B1F;
    --cor-quarta: #d39a20;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primeira);
}

header {
    background-color: var(--cor-quarta);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    
}

header img {
    width: 60px;
    animation-name: estrela;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    filter: drop-shadow(0 -1mm 4mm #e2dfda);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--cor-primeira);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    display: flex;
    gap: 30px;
}

.nav-menu a {
    font-size: 20px;
    color: white;
    padding: 50px;
}

h1 {
    font-size: 2rem;
    font-family: 'Cedarville Cursive', cursive;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--cor-segunda);
}

.menu {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--cor-primeira);
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}

@keyframes estrela {
    from{}

    to{
        transform: rotate(360deg);
    }
}

.menu.active .bar:nth-child(2) {
    opacity: 0;
}

.menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

main {
    background-color: var(--cor-fundo);
    min-height: 100vh;
}

#container-1 {
    display: flex;
}

#tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

#mensagem-entrada {
    background-color: rgb(255, 255, 255);
    margin: 40px;
    box-shadow: 10px 10px 0px  var(--cor-segunda) ;
    padding: 20px;
}

#mensagem-entrada h1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Cedarville Cursive', cursive;
}

#mensagem-entrada h1::after {
    content: '';
    width: 200px;
    height: 4px;
    background-color: var(--cor-segunda);
    display: block;
}

#papai-noel {
    width: 100px;
}

#artigo {
    display: flex;
    justify-content: center;
    background-color: var(--cor-segunda);
    width: 100%;
}

#tela2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

#mais-vendidos {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 800px;
}

#mensagem-produtos {
    background-color: rgb(255, 255, 255);
    margin: 40px;
    box-shadow: -10px 10px 0px  var(--cor-primeira);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mensagem-produtos h1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Cedarville Cursive', cursive;
}

#mensagem-produtos h1::after {
    content: '';
    width: 200px;
    height: 4px;
    background-color: var(--cor-primeira);
    display: block;
}

#produtos h3{
    font-size: 2rem;
}

#mensagem-produtos button {
    margin: 10px;
    padding: 10px;
    background: transparent;
    border: 1px solid var(--cor-primeira);
    color: var(--cor-primeira);
    font-size: 15px;
    transition: all 0.2s;
}

#mensagem-produtos button:focus {
    border-radius: 15px;
    background-color: var(--cor-primeira);
    color: white;
}

#arvore {
    display: none;
}

#titulo-2 {
    height: 50px;
}

#produtos a{
    color: black;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    height: 300px;
    width: 200px;
}

#produtos img{
    width: 150px;
    margin: 10px;
}

#container-3 {
    display: flex;
    justify-content: center;
    background-color: var(--cor-segunda);
}

#tela3 {
    background-color: rgb(255, 255, 255);
    margin: 40px;
    box-shadow: -10px -10px 0px var(--cor-primeira);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 430px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#presente {
    display: none;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

form input {
    padding: 5px;
    outline: none;
    border: 1px solid var(--cor-primeira);
    margin-bottom: 15px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus {
    border-radius: 15px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 1px solid var(--cor-primeira);
    font-size: 16px;
    transition: all 1s;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

form textarea:focus {
    border-radius: 15px;
}

form button {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background: var(--cor-primeira);
    border: 2px solid ;
    color: white;
    transition: all 1s;
}

footer {
    background-color: var(--cor-terceira);
    display: flex;
    height: 300px;
    justify-content: center;
}

#container-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#desenho {
    display: none;
}

#container-4 ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

#container-4 a {
    font-size: 15px;
    color: white;
    
}

#container-4 h1 {
    font-size: 30px;
    font-weight: bold;
    color: green;
    width: 300px;
}

#container-4 span {
    font-size: 40px;
    font-weight: bold;
    color: var(--cor-primeira);
    margin: 4px;
}

@media (min-width: 720px) {
    #container-1 {
        display: flex;
        justify-content: center;
    }
    
    #tela {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    #mensagem-entrada {
        background-color: rgb(255, 255, 255);
        width: 500px;
        margin: 40px;

        padding: 20px;
    }

    #mensagem-produtos {
        background-color: rgb(255, 255, 255);
        margin: 40px;
        box-shadow: -10px 10px 0px  var(--cor-primeira);
        width: 500px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #produtos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr ;
        grid-template-areas: 
            "box1 box1 box1"
            "box2 box3 box4";
        margin: 0px;
        padding: 30px 60px;
        justify-items: center;
    }

    

    #titulo-2 {
        grid-area: box1;
    }

    #doce-leite {
        grid-area: box2;
        
    }

    #nutella {
        grid-area: box3;
    }

    #trufas {
        grid-area: box4;

    }

    #doce {
        display: flex;
    }

    #produtos h3{
        text-align: center;
        font-size: 2rem;
    }

    #tela3 {
        background-color: rgb(255, 255, 255);
        margin: 40px;
        box-shadow: -10px -10px 0px  var(--cor-primeira);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 430px;
        width: 500px;
    }

    #container-4 {
        display: flex;
        gap: 30px;
    }
}

@media (min-width: 1280px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin: 30px;
    }
    
    .navbar {
        min-height: 50px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .navbar nav {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    header img {
        width: 60px;
        animation-name: estrela;
        animation-duration: 1s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        filter: drop-shadow(0 -1mm 4mm #e2dfda);
    }

    
    .nav-menu {
        position: static;
        flex-direction: row;
        width: 400px;
        text-align: center;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        gap: 30px;
        background: transparent;
    }
    
    .nav-menu a {
        font-size: 20px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
    
    h1 {
        font-size: 2rem;
        font-family: 'Cedarville Cursive', cursive;
    }
    
    .nav-link {
        transition: 0.7s ease;
        padding: 0px;
    }
    
    .nav-link:hover {
        color: red;
    }
    
    .menu {
        display: block;
        cursor: pointer;
    }
    
    .bar {
        display: none;
    }

    #container {
        
    }

    #tela {
        display: flex;
        flex-direction: row;
        width: 1000px;
        justify-content: space-around;
    }

    #arvore{
        display: block;
        height: 300px;
        animation-name: arvore;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }

    #artigo {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        align-items: center;
        
    }

    @keyframes arvore {
        0%{
            filter: drop-shadow(0 -1mm 4mm #e2dfda);
        }
        20%{
            filter: drop-shadow(0 -1mm 4mm red);
        }
        40%{
            filter: drop-shadow(0 -1mm 4mm green);
        }
        60%{
            filter: drop-shadow(0 -1mm 4mm blue);
        }
        80%{
            filter: drop-shadow(0 -1mm 4mm yellow);
        }
        100%{
            filter: drop-shadow(0 -1mm 4mm #e2dfda);
        }
    }

    #containe3 {
        display: flex;
        flex-direction: row;
    }

    #artigo-2 {
        display: flex;
        align-items: center;
        margin: 0 60px;
    }

    #presente {
        display: block;
        height: 200px;
        animation-name: presente;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    
    @keyframes presente {
        from{ 
            transform: rotate(-10deg);
        }
        to{
            transform: rotate(10deg);
                        
        }
    }

    footer {
        height: 200px;
    }

    #container-4 {
        display: flex;
        flex-direction: row;
    }

    #container-4 h1 {
        display: flex;
        align-items: center;
    }

    #container-4 nav {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    #container-4 ul {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    #desenho {
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    #biscoito {
        height: 200px;
    }
}

